In this Notebook I leave only baresoil samples and their reflectance values. Data has been downloaded from LUCAS 2015 dataset available on the internet. And sample points have been ingested in GEE to extract their spectral bands.

In [1]:
import pandas as pd

In [2]:
base_path = '/cats/datastore3/claraenv/code/my-projects/'  # '/home/clara/Documents/'

## join original data and gee data

In [3]:
lucas = pd.read_csv(f'{base_path}/autoencoders/bare_soil-detection/data/topsoil_2015.csv')
lucas

,Point_ID,Coarse,Clay,Sand,Silt,pH_CaCl2,pH_H20,EC,OC,CaCO3,...,LU,NUTS_0,NUTS_1,NUTS_2,NUTS_3,LC0_Desc,LC1_Desc,LU1_Desc,x,y
0,26581768,NaN,NaN,NaN,NaN,6.9,7.24,18.14,24.6,34,...,U111,PT,PT1,PT15,PT150,Grassland,Grassland without tree/shrub cover,Agriculture (excluding fallow land and kitchen...,-8.775252,37.139104
1,26581792,NaN,NaN,NaN,NaN,5.4,5.81,14.81,21.9,0,...,U410,PT,PT1,PT15,PT150,Shrubland,Shrubland without tree cover,Abandoned areas,-8.833728,37.349747
2,26581954,NaN,NaN,NaN,NaN,7.0,7.29,28.10,18.4,46,...,U112,PT,PT1,PT17,PT170,Grassland,Spontaneously re-vegetated surfaces,Fallow land,-9.242092,38.768531
3,26601784,NaN,NaN,NaN,NaN,4.4,5.17,5.37,48.0,0,...,U120,PT,PT1,PT15,PT150,Shrubland,Shrubland with sparse tree cover,Forestry,-8.792255,37.283972
4,26601978,NaN,NaN,NaN,NaN,7.1,7.38,21.60,25.2,0,...,U120,PT,PT1,PT17,PT170,Woodland,Broadleaved woodland,Forestry,-9.282250,38.982827
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21854,64881666,15.0,50.0,23.0,27.0,6.7,6.97,21.10,8.4,1,...,U112,CY,CY0,CY00,CY000,Bareland,Other bare soil,Fallow land,33.907085,34.989242
21855,64901668,3.0,32.0,39.0,28.0,7.3,7.79,10.84,10.8,2,...,U420,CY,CY0,CY00,CY000,Grassland,Spontaneously re-vegetated surfaces,Semi-natural and natural areas not in use,33.933925,35.000901
21856,64901672,4.0,34.0,43.0,23.0,7.3,7.80,15.09,6.7,8,...,U111,CY,CY0,CY00,CY000,Cropland,Barley,Agriculture (excluding fallow land and kitchen...,33.945599,35.035389
21857,64961676,17.0,10.0,79.0,11.0,7.4,8.05,15.50,5.7,3,...,U420,CY,CY0,CY00,CY000,Grassland,Spontaneously re-vegetated surfaces,Semi-natural and natural areas not in use,34.020365,35.053061
21858,64981672,34.0,40.0,18.0,42.0,7.6,7.98,15.17,18.1,180,...,U420,CY,CY0,CY00,CY000,Shrubland,Shrubland without tree cover,Semi-natural and natural areas not in use,34.029660,35.012976

In [6]:
gee = pd.read_csv(f'{base_path}/autoencoders/bare_soil-detection/data/google-earth-engine/reflectances_lucas_2.csv')
gee

,system:index,B1,B1_1,B1_10,B1_11,B1_3,B1_4,B1_5,B1_6,B1_7,...,B7_11,B7_3,B7_4,B7_5,B7_6,B7_7,B7_8,B7_9,Point_ID,.geo
0,00000000000000002129,126.0,10033.5,113.0,1141.0,244.5,184.0,405.0,207.0,186.5,...,736.5,390.5,363.0,603.0,356.0,290.0,728.0,525.0,48781732,"{""type"":""Point"",""coordinates"":[16.34733863,38...."
1,0000000000000000405e,2765.0,1491.0,2536.0,693.0,648.0,456.0,731.5,1221.0,1242.0,...,1959.0,1577.0,1026.0,1760.5,3235.0,3425.0,2729.0,NaN,31122190,"{""type"":""Point"",""coordinates"":[-4.58470017,41...."
2,00000000000000004279,NaN,1312.0,1114.0,947.5,1338.0,1161.0,1317.5,1342.0,1300.0,...,1792.0,2476.5,2578.0,3154.5,3210.0,3117.0,2461.0,548.0,31741938,"{""type"":""Point"",""coordinates"":[-3.36152027,39...."
3,00000000000000000b5d,NaN,532.0,519.0,NaN,1184.0,4166.0,732.0,889.0,1393.5,...,NaN,1724.5,4072.0,1048.5,2815.0,2718.0,NaN,1752.0,43122984,"{""type"":""Point"",""coordinates"":[9.87456666,49.9..."
4,00000000000000000bda,NaN,471.0,545.0,NaN,1285.5,1681.5,418.0,1371.0,2031.0,...,NaN,1690.0,1429.0,486.0,2627.0,3063.0,NaN,1878.0,43302984,"{""type"":""Point"",""coordinates"":[10.12543334,49...."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21854,000000000000000019f0,NaN,567.0,NaN,NaN,1109.0,NaN,391.0,365.0,203.5,...,NaN,614.0,NaN,473.0,323.0,217.0,NaN,338.5,46744374,"{""type"":""Point"",""coordinates"":[16.79063888,62...."
21855,000000000000000021ff,526.0,NaN,NaN,NaN,579.0,351.0,432.0,611.0,758.0,...,NaN,1524.0,1038.0,1024.0,1626.0,2268.5,1716.0,1060.0,49062684,"{""type"":""Point"",""coordinates"":[17.70032612,46...."
21856,00000000000000004617,378.0,NaN,343.0,941.0,538.0,10179.0,765.5,409.0,389.0,...,1316.0,1155.0,1482.0,1124.5,958.0,852.5,1471.5,2384.0,32701972,"{""type"":""Point"",""coordinates"":[-2.31778558,40...."
21857,000000000000000036e6,656.0,NaN,3955.0,516.0,996.0,2846.0,20000.0,603.0,301.5,...,582.0,1183.0,1372.5,1888.0,645.0,504.5,NaN,3509.5,56342170,"{""type"":""Point"",""coordinates"":[25.76438587,41...."
21858,000000000000000021f1,NaN,763.0,NaN,NaN,NaN,687.5,20000.0,419.0,905.0,...,NaN,NaN,789.0,4948.5,428.0,3491.0,2421.0,4886.0,49023446,"{""type"":""Point"",""coordinates"":[18.84217357,53...."

In [7]:
data = pd.merge(lucas, gee, on="Point_ID")

## delete columns with undesired data and delete rows different from LC0_Desc == Bareland

In [8]:
data.columns

Index(['Point_ID', 'Coarse', 'Clay', 'Sand', 'Silt', 'pH_CaCl2', 'pH_H20',
       'EC', 'OC', 'CaCO3',
       ...
       'B7_10', 'B7_11', 'B7_3', 'B7_4', 'B7_5', 'B7_6', 'B7_7', 'B7_8',
       'B7_9', '.geo'],
      dtype='object', length=103)

- LC0_Desc = Land cover description (ex. bareland)
- LC1_Desc = more land cover description (ex. other baresoil, sand, rock and stones)
- LU1_Desc = Land Use description (ex. agriculture, fallow land, sport...)
- LC = F10: rock and stones, F40: other baresoil, F20: sand

In [9]:
drop = ['Coarse', 'Clay', 'Sand', 'Silt', 'pH_CaCl2', 'pH_H20',
       'EC', 'OC', 'CaCO3', 'P', 'N', 'K', 'LU', 'NUTS_0', 'NUTS_1',
       'NUTS_2', 'NUTS_3']

In [10]:
data = data.drop(drop, axis=1).loc[(data['LC0_Desc']=='Bareland')]
data

,Point_ID,LC,LC0_Desc,LC1_Desc,LU1_Desc,x,y,system:index,B1,B1_1,...,B7_10,B7_11,B7_3,B7_4,B7_5,B7_6,B7_7,B7_8,B7_9,.geo
18,26841758,F40,Bareland,Other bare soil,Fallow land,-8.466693,37.108232,000000000000000038e9,481.5,495.0,...,1483.0,1438.0,NaN,3787.0,NaN,3830.5,3752.0,NaN,3098.0,"{""type"":""Point"",""coordinates"":[-8.46669349,37...."
20,26841826,F40,Bareland,Other bare soil,Agriculture (excluding fallow land and kitchen...,-8.630850,37.705463,000000000000000038eb,483.0,356.0,...,2083.0,NaN,NaN,1628.0,2222.0,2836.0,3047.5,3415.0,2933.0,"{""type"":""Point"",""coordinates"":[-8.63084954,37...."
36,27001936,F40,Bareland,Other bare soil,Fallow land,-8.726282,38.705168,000000000000000038fb,591.0,NaN,...,2032.0,1781.0,3713.0,3341.5,3517.5,3253.0,3170.0,3080.0,3020.0,"{""type"":""Point"",""coordinates"":[-8.72628189,38...."
49,27101940,F40,Bareland,Other bare soil,Fallow land,-8.624439,38.762267,00000000000000003908,437.0,NaN,...,738.0,887.0,2506.0,2098.0,1463.0,2002.0,2129.5,2071.0,NaN,"{""type"":""Point"",""coordinates"":[-8.62443932,38...."
89,27321784,F40,Bareland,Other bare soil,Agriculture (excluding fallow land and kitchen...,-8.001415,37.439943,00000000000000003930,323.0,433.0,...,1745.0,1948.0,NaN,1878.0,2775.0,2773.0,2535.0,3858.0,2760.0,"{""type"":""Point"",""coordinates"":[-8.0014154,37.4..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21766,57882508,F40,Bareland,Other bare soil,Agriculture (excluding fallow land and kitchen...,28.474431,44.040401,0000000000000000387a,1900.0,5602.0,...,NaN,691.0,NaN,NaN,364.0,5373.0,3211.0,2308.5,2372.0,"{""type"":""Point"",""coordinates"":[28.47443109,44...."
21773,57922630,F40,Bareland,Other bare soil,Agriculture (excluding fallow land and kitchen...,28.884681,45.092388,00000000000000003881,4813.0,7504.0,...,NaN,1387.0,NaN,NaN,1335.0,2663.5,2663.0,2601.5,6208.0,"{""type"":""Point"",""coordinates"":[28.8846806,45.0..."
21778,57962548,F40,Bareland,Other bare soil,Agriculture (excluding fallow land and kitchen...,28.688570,44.370723,00000000000000003886,4971.0,6211.0,...,NaN,1718.0,NaN,NaN,1235.0,1867.0,1906.0,2586.0,1509.0,"{""type"":""Point"",""coordinates"":[28.6885701,44.3..."
21820,64161658,F40,Bareland,Other bare soil,Agriculture (excluding fallow land and kitchen...,33.126346,35.117963,000000000000000038b0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{""type"":""Point"",""coordinates"":[33.12634593,35...."
21854,64881666,F40,Bareland,Other bare soil,Fallow land,33.907085,34.989242,000000000000000038d2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{""type"":""Point"",""coordinates"":[33.90708481,34...."

In [11]:
data.to_csv(f'{base_path}/autoencoders/bare_soil-detection/data/bareland_LUCAS_2015.csv')